/*
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
Joplin Custom Stylesheet for Ytsief Ventures [2026] by Claude
≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈≈
*/
*, blockquote, code, pre, table th, table td, table tr {
	font-family: 'Bookman Old Style', 'Book Antiqua', Georgia, serif;
	line-height: 1.6;
}
p, blockquote, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, img {
	text-align: justify;
}
h1 {
	font-variant: small-caps;
	border-bottom: 0.0625rem solid;
}
h2 {
	font-variant: small-caps;
}
pre {
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
table {
	width: auto;
	table-layout: fixed;
	border-collapse: collapse;
}
table th, table td {
	word-wrap: break-word;
}
table th {
	font-weight: bold;
	text-align: justify;
}
.mermaid {text-align: center;}
.exported-note {font-size: 0.75rem;}
.exported-note-title {display: none;}
@page {
    margin: 3rem;
    padding: 0.5rem;
    @bottom-center {
        margin: 0;
        padding: 0.125rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-top: 0.125rem solid;
        content: "© 2026 Ytsief Ventures";
        margin-bottom: 1rem;
    }
    @bottom-left {
        margin: 0;
        padding: 0.125rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-top: 0.125rem solid;
        content: "Confidential";
        margin-bottom: 1rem;
    }
    @bottom-right {
        margin: 0;
        padding: 0.125rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-top: 0.125rem solid;
        content: "Page " counter(page) " of " counter(pages);
        margin-bottom: 1rem;
    }
    @top-center {
        margin: 0;
        padding: 0.125rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-bottom: 0.125rem solid;
        content: "";
        margin-top: 1rem;
    }
    @top-left {
        margin: 0;
        padding: 0.125rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-bottom: 0.125rem solid;
        content: "Note Title";
        margin-top: 1rem;
    }
    @top-right {
        margin: 0;
        padding: 0.125rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-bottom: 0.125rem solid;
        content: "Note Date";
        margin-top: 1rem;
    }
}
